.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 0.1s alternate-reverse;
  height: 30vmin;
  pointer-events: none;
}

.App-moveX {
  animation: App-logo-moveX infinite 0.1s alternate;
}

.App-moveY {
  animation: App-logo-moveY infinite 0.15s alternate;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-moveX {
  from {
    transform: translateX(-15px);
  }
  to {
    transform: translateX(15px);
  }
}

@keyframes App-logo-moveY {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}
